* {
    font-family: "Comic Sans MS",sans-serif;
    outline: none;
}

.info-row {
    width: 300px;
    margin: 20px auto;
}

#form-container p {
    font-weight: bolder;
}

span {
    font-weight: normal;
}

.warning {
    color: red;
    height: 1.3em;
}

#message {
    color: red;
    height: 1.3em;
}