<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>platform-0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,16}</string>
			<key>spriteSourceSize</key>
			<string>{64,16}</string>
			<key>textureRect</key>
			<string>{{0,0},{64,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>platform-1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,16}</string>
			<key>spriteSourceSize</key>
			<string>{64,16}</string>
			<key>textureRect</key>
			<string>{{64,0},{64,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>platform-2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,16}</string>
			<key>spriteSourceSize</key>
			<string>{64,16}</string>
			<key>textureRect</key>
			<string>{{128,0},{64,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>platform-3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{64,16}</string>
			<key>spriteSourceSize</key>
			<string>{64,16}</string>
			<key>textureRect</key>
			<string>{{192,0},{64,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>platform.png</string>
		<key>size</key>
		<string>{256,16}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d4a7943156236f3bba57d586008b66a7:fca37678c6727ccf2da765919d63b5ab:03d58eed1d6d41ad467d31044ca89348$</string>
		<key>textureFileName</key>
		<string>platform.png</string>
	</dict>
</dict>
</plist>
